body p{
    color: black;
}
.title1 {
    color: #4CBEC5;
    font-family: Yellowtail;
    font-size: 120px;
}

.title {
    color: #4CBEC5;
    font-family: Yellowtail;
    font-size: 70px;
}

.subtitle {
    color: #4CBEC5;
    font-family: Space Grotesk;
    font-size: 40px;
}

.subtitulo {
    color: #904CC5;
    font-family: Space Grotesk;
    font-size: 20px;
}

.mensaje {
    color: #904CC5;
    font-family: Sriracha;
}

.hero-body {
    background-image: url('/public/img/img\ \(10\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.support-section {
    background-color: #f0f4f8;
    padding: 50px 0;
}

.support-section .image img.is-rounded {
    width: 256px;
    height: 256px;
    object-fit: cover;
    border-radius: 50%;
}



/* Information Columns Styles */
.info-columns {
    padding: 3rem 1.5rem;
}

.info-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
}

.info-card:hover {
    transform: translateY(-5px);
}

.info-card .title {
    font-size: 50px;
    color: #904CC5;
    padding: 1.5rem;
    margin-bottom: 0;
}


.card-image img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content {
    padding: 1.5rem;
    flex-grow: 1;
}

.content p {
    color: #4a4a4a;
    line-height: 1.6;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.title, .title1, .subtitle {
    animation: fadeInUp 1.5s ease forwards;
    opacity: 0; /* Comienza oculto */
}
