---
import MainLayout from "@/layouts/mainLayout.astro";
import AirQualityCharts from "@/components/CalidadAire.astro";
import "src/styles/graficoTexto.css";


const apiUrl ="https://api.openweathermap.org/data/2.5/air_pollution?lat=-22.73042507104392&lon=-64.33918622906594&appid=284ea7c439250f0d65037a7487873e3f";
---

<MainLayout>
    <h1>Bermejo</h1>
    <AirQualityCharts apiUrl={apiUrl} />
</MainLayout>
