---
import MainLayout from "@/layouts/mainLayout.astro";
import "src/styles/centroAyuda.css";
---

<MainLayout>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title1">Ayúdanos Colaborando a Plantar Árboles.</h1><br>
                <p class="mensaje">Donar a organizaciones que se dediquen a la reforestación y 
                                    la plantación de árboles en áreas urbanas.</p>
                <br>
                <div class="buttons is-centered">
                    <a href="/formularioPago" class="button is-primary">Apoyar</a>
                    <a href="" class="button is-light fa-brands fa-youtube"> Mirar el video</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section support-section">
        <div class="container">
            <h4 class="title has-text-centered">Formas de Apoyo</h4>
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="info-card">
                        <h4 class="title is-4 has-text-centered">Financiero</h4>
                        <div class="card-image">
                            
                            <figure>
                                <img src="public/img/CentroApoyo/Financiero.png" alt="Apoyo Financiero" />
                            </figure>
                        </div>
                        <div class="content">
                            <p>Tus donativos son cruciales para financiar proyectos de reforestación y actividades educativas. Con tu apoyo, podemos:</p>
                            <ul>
                                <li>Comprar árboles y plantas nativas.</li>
                                <li>Realizar talleres de educación ambiental.</li>
                                <li>Implementar sistemas de riego sostenibles.</li>
                            </ul>
                            <a href="/formularioPago" class="content">Hacer un Donativo</a>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <div class="info-card">
                        <h4 class="title is-4 has-text-centered">Colaboraciones</h4>
                        <div class="card-image">
                        <figure class="image">
                            <img src="public/img/CentroApoyo/Colaboraciones.png" alt="Colaboraciones" />
                        </figure>    
                        </div>
                        
                        <div class="content">
                            <p>Trabajamos con organizaciones, gobiernos y empresas locales para llevar a cabo proyectos conjuntos. Las colaboraciones nos permiten:</p>
                            <ul>
                                <li>Ampliar nuestro alcance en la comunidad.</li>
                                <li>Desarrollar iniciativas innovadoras para la reforestación.</li>
                                <li>Acceder a recursos adicionales y financiamiento.</li>
                            </ul>
                            <p>¡Contáctanos para explorar oportunidades de colaboración!</p>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <div class="info-card">
                        
                        <h4 class="title is-4 has-text-centered">Voluntariado</h4>
                        <div class="card-image">
                        <figure class="image">
                            <img src="public/img/CentroApoyo/Voluntariado.png" alt="Voluntariado" />
                        </figure>    
                        </div>
                        
                        <div class="content">
                            <p class="has-text-left">Invitamos a la comunidad a participar activamente en nuestros eventos. Las oportunidades de voluntariado incluyen:</p>
                            <ul>
                                <li>Plantación de árboles en áreas designadas.</li>
                                <li>Actividades de mantenimiento y cuidado de los árboles.</li>
                                <li>Talleres de sensibilización sobre la importancia de la reforestación.</li>
                            </ul>
                            <p class="has-text-left">¡Tu participación marca la diferencia!</p>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="info-card">
                        
                        <h4 class="title is-4 has-text-centered">Materiales</h4>
                        <div class="card-image">
                        <figure class="image">
                            <img src="public/img/CentroApoyo/Materiales.png" alt="Materiales" />
                        </figure>    
                        </div>
                        
                        <div class="content">
                            <p class="has-text-left">Los donativos de materiales son esenciales para llevar a cabo nuestras actividades. Necesitamos:</p>
                        <ul>
                            <li>Herramientas de jardinería (palas, rastrillos, etc.).</li>
                            <li>Materiales para el riego (mangueras, sistemas de riego por goteo).</li>
                            <li>Compost y abono orgánico para el crecimiento saludable de los árboles.</li>
                        </ul>
                        <p class="has-text-left">Si tienes materiales para donar, ¡ponte en contacto con nosotros!</p>
                        </div>
                        
                    </div>
                </div>

                <div class="column is-one-third">
                    <div class="info-card">
                        
                        <h4 class="title is-4 has-text-centered">Tu apoyo</h4>
                        <div class="card-image">
                        <figure class="image">
                            <img src="public/img/CentroApoyo/Impacto de Tu Apoyo.png" alt="Impacto" />
                        </figure>    
                        </div>
                        
                        <div class="content">
                            <p class="has-text-left">Tu colaboración no solo ayuda a plantar árboles, sino que también contribuye a:</p>
                        <ul>
                            <li>Mejorar la calidad del aire y reducir la contaminación.</li>
                            <li>Proteger la biodiversidad local.</li>
                            <li>Combatir el cambio climático al absorber CO2.</li>
                        </ul>
                        <p class="has-text-left">Cada árbol plantado es un paso hacia un futuro más verde y sostenible.</p>
                        </div>
                        
                    </div>
                </div>

                <div class="column is-one-third">
                    <div class="info-card">
                        
                        <h4 class="title is-4 has-text-centered">Cómo Involucrarte</h4>
                        <div class="card-image">
                        <figure class="image">
                            <img src="public/img/CentroApoyo/Cómo Involucrarte.png" alt="Cómo Involucrarte" />
                        </figure>    
                        </div>
                        
                        <div class="content">
                            <p class="has-text-left">Existen múltiples formas de involucrarte en nuestra misión. Puedes:</p>
                        <ul>
                            <li>Difundir información sobre nuestros proyectos en tus redes sociales.</li>
                            <li>Asistir a nuestros eventos comunitarios.</li>
                            <li>Invitar a amigos y familiares a unirse a nuestra causa.</li>
                        </ul>
                        <p class="has-text-left">Juntos, podemos hacer una gran diferencia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</MainLayout>
