---
import MainLayout from "@/layouts/mainLayout.astro";
import "src/styles/general.css";
---

<MainLayout>
    <div class="sobre-nosotros">
        <h1 class="title">Sobre Nosotros</h1>

        <section class="introduccion">
            <p>
                ¡Bienvenidos a nuestro proyecto! Somos un grupo de estudiantes de la Universidad Priva Domingo Savio, dedicados a aprender y aplicar nuestros conocimientos en el desarrollo web. Este sitio web es parte de nuestro curso de Diseño Web II y tiene como objetivo “explorar el desarrollo web moderno”.
            </p>
        </section>

        <section class="mision-vision">
            <h2 class="title">Nuestra Misión</h2>
            <p>
                Misión: Proporcionar datos precisos y actualizados sobre la calidad del aire, 
                educar a la población sobre sus efectos en la salud y el medio ambiente, 
                y fomentar la participación ciudadana en la mejora de la calidad del aire 
                a través de acciones concretas y colaborativas.
            </p>

            <h2 class="title">Nuestra Visión</h2>
            <p>
                Visión: Ser la plataforma líder en información y sensibilización sobre la calidad del aire, 
                empoderando a las comunidades para que tomen decisiones informadas y promuevan 
                un entorno más saludable y sostenible.
            </p>
        </section>

        <section class="equipo">
            <h2 class="title">Conoce al Equipo</h2>
            <ul>
                <li><strong>Ordoñez Choque Nayeli Zharit</strong> - Diseñador</li>
                <li><strong>Zamorano Aramayo Marco Andres</strong> - Diseñador</li>
            </ul>
        </section>

        <section class="tecnologias">
            <h2 class="title">Tecnologías Utilizadas</h2>
            <p>
                En este proyecto hemos utilizado diversas tecnologías, incluyendo:
            </p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
        </section>

        <section class="contacto">
            <h2 class="title">Contacto</h2>
            <p>
                Si deseas ponerte en contacto con nosotros, puedes hacerlo a través de tj.nayeli.ordoñez.c@upds.net.bo. y tj.marco.zamorano.a@upds.net.bo.
            </p>
        </section>
    </div>
</MainLayout>
